.param-container {
    display: flex;
    flex-direction: column;
    align-items: stretch;
}

.param-item {
    display: flex;
    margin: 5px;
    pointer-events: none;
}

.param-item mat-button-toggle {
    flex-grow: 1;
}

.param-container button {
    align-self: center;
}

.future-update-msg {
    color: red;
    font-size: 12px;
}