.list-container {
    display: flex;
    align-items: center;
    margin: 5px 0px 5px 0px;
}

.graph-button {
    border-radius: 5px;
    border: 1px solid gray;
    min-width: 200px;
}

.delete-button {
    display: flex;
    background-color:red;
    border: 1px solid gray;
    color: #fff;
    /* width: 40px!important;
    min-width: unset!important;
    height: 40px; */
    margin-left: 5px;
    border-radius: 5px;
    justify-content: center;
    align-items: center;
}

.list-title {
    margin-bottom: 25px;
}