*{
    margin: 0;
    padding: 0;
}


.slick-slider {
    width: 88%;
    margin: auto;
    background: rgb(14, 13, 13);
  }
  
body .slick-prev, 
body .slick-next {
    height: 45px;
    width: 40px;
    background: grey !important;
    z-index: 100;
}

.main-container{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    background-color: #caf0f8;
    border-top: 2px solid #ade8f4;
    flex-grow: 1;
} 

.left-container{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    padding-top: 50px;
}

.right-container{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    padding: 10px;
}

.graph-selector {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 50px;
    position: relative;
}

.graph-selector-options {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.new-load-container {
    display: flex;
    justify-content: center;
}


.new-load-container button {
    margin: 5px 15px;
}

.save-list-container {
    display: flex;
    font-size: 10px;
}


.save-list-container button {
    margin: 5px 15px;
}

.algth-list {
    margin: 5px 15px;
}

.code-adjacency-container {
    display: flex;
    align-items: flex-start;
}

.pseudo-code-animations-container {
    display: flex;
    flex-direction: column;
}

.pseudo-code-container {
    min-width: 450px;
    max-width: 500px;
    margin-bottom: 15px;
}

.visited-array-animations-container {
    margin-bottom: 15px;
}


.visited-array-list {
    display: flex;
    min-width: 450px;
    max-width: 500px;
    flex-wrap: wrap;
}

.visited-array-item {
    display: flex;
    width: 30px;
    height: 30px;
    margin: 1px;
    border: 1px solid black;
    border-radius: 3px;
    background-color: gray;
    justify-content: center;
    align-items: center;
}

.algh-not-selected-container {
    display: flex;
    justify-content: center;
    
}

.user-info {
    border-radius: 20px;
    min-width: 100px;
    height: 80px;
    padding: 10px;
    align-self: flex-end;
    display: flex;
    align-items: flex-end;
    flex-direction: column;
    
}

.user-info h3 {
    margin: 0px 10px 10px 0px;
}

.log-sign-buttons button{
    margin: 10px;
}

.carousel {
    max-width: 720px
}

.header-container {
    background-color: #fff;
}

.header {
    display: flex;
    justify-content: space-between;
    padding: 10px 100px 10px 100px;
    align-items: center;
}


.log-in-container button {
    margin: 10px;
}

.title{
    min-width: 600px;
}

.title img {
    width: 100%;
    height: auto;
}

.param-icon {
    position: absolute;
    right: -40px;
    width: 25px;
    height: 25px;
    border: 1px solid black;
}

.directed {
    top: 20px;
}

.binary {
    bottom: 20px;
}

.param-icon img {
    width: 100%;
    height: auto;
}

.code-container {
    background-color:#333533;
    border: 2px solid black;
    border-radius: 5px;
    padding: 20px;
    color: white;
}

.code-container p{
    font-family: monospace;
}

.tab{
    padding-left: 15px;
}

.green-font {
    color: rgb(76, 214, 76);
}

.yellow-font {
    color: #ffd60a
}

.blue-font {
    color: #1982c4;
}

.adjacency-container {
    min-width: 230px;
    margin-left: 15px;
}

.adjacency-list {
    background-color:#333533;
    border: 2px solid black;
    border-radius: 5px;
    padding: 20px;
    color: white;
    max-width: 300px;
    margin-bottom: 10px;
}

.adjacency-item {
    background-color: #fb8500;
    padding: 5px;
    border: 1px solid #f1faee;
    border-radius: 10px;
    margin-bottom: 5px;
}

.bfs-queue-list {
    display: flex;
}


.bfs-queue-start {
    writing-mode: vertical-lr;
    transform:scale(-1);
    display: flex;
    border: 1px solid black;
    border-radius: 0px 3px 3px 0px;
    padding: 3px;
    background-color: gray;
    justify-content: center;
    align-items: center;
}

.bfs-queue-item {
    display: flex;
    border: 1px solid black;
    padding: 3px;
    background-color: green;
    justify-content: center;
    align-items: center;
}

.footer-container {
    display: flex;
    background-color: #90e0ef;
    flex-shrink: 0;
    justify-content: flex-end;
    align-items: center;
    height: 50px;
    margin-top: 50px;
    width: 100%;
    align-self: flex-end;
}

.footer {
    margin-right: 20px;
    font-style: italic;
}

.user-icon {
    width: 30px;
    height: 30px;
}

.user-info img {
    width: 100%;
    height: auto;
    margin-top: -5px;
}

.icon-username-container {
    display: flex;
}

.main-footer-container {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    min-height: 100%;
}